<!DOCTYPE html>
<html>
    <head>
        <title>Build-a-blog</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    </head>
    <body>
        {% if session['username'] %}
            <div><a href='/logout'>logout</a></div>
        {% else %}            
            <div><a href='/login'>Login</a> | <a href='/signup'>Signup</a></div>
        {% endif %}        
        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
                {% for category,message in messages %}
                    <li class='{{category}}'>{{message}}</li>
                {% endfor %}
            </ul>
        {% endwith %}

        <a href="/">Home</a>&emsp;
        <a href="/blog">Main Blog Page</a>&emsp;
        <a href="/newpost">Add a Blog Entry</a>
        <h1>
            {{page_title}}
        </h1>
        {% block content %}
        {% endblock %}
    </body>
</html>
